/*  Starting external fonts  */
@font-face {
  font-family: "Roboto Regular";
  src: url("../src/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../src/assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../src/assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../src/assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed Regular";
  src: url("../src/assets/fonts/roboto/RobotoCondensed-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("../src/assets/fonts/roboto/RobotoCondensed-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../src/assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light Italic";
  src: url("../src/assets/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
  font-display: swap;
}
/*  End external fonts  */
:root {
  scroll-behavior: smooth;
  /*  Measures  */
  --medida-raiz: 62.5%;
  --swiper-navigation-size: 20px;
  /*  End measures  */
  /* Colours */
  --color-white: #ffffff;
  --color-white-ad: #ffffffad;
  --color-black: #000000;
  --color-green: #017a38;
  --color-light-green: #daece0;
  --color-dark-blue: #323e48;
  --color-tranparent: transparent;
  /* End Colours */
  /*  Fonts  */
  --font-roboto-regular: Roboto Regular;
  --font-roboto-medium: Roboto Medium;
  --font-roboto-bold: Roboto Bold;
  --font-roboto-light: Roboto Light;
  --font-roboto-condensed-regular: Roboto Condensed Regular;
  --font-roboto-italic: Roboto Italic;
  --font-roboto-light-italic: Roboto Light Italic;
  /*  End fonts  */
}

/* 2 */
/* 1 */
.content-kosher-consultancy #contactForm, .content-kosher-consultancy #aboutUs {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*
* Inicio Generales
*
*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--medida-raiz);
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
}

body {
  font-size: 1.6em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.font-heredada {
  font-weight: inherit;
}

.imagen-responsive {
  width: 100%;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0-8 {
  line-height: 0.8;
}

.line-height-1 {
  line-height: 1;
}

.width-1 {
  width: 1em;
}

.width-2 {
  width: 2em;
}

.width-2-5 {
  width: 2.5em;
}

.width-12 {
  width: 12em;
}

.width-8 {
  width: 8em;
}

.width-cont {
  width: 80%;
}

.height-3 {
  height: 3em;
  /* 48/16 */
}

.margin-auto {
  margin: auto;
}

.margin-t-b-40 {
  margin-top: 2.5em;
  /* 40/16 */
  margin-bottom: 2.5em;
  /* 40/16 */
}

.margin-t-b-10 {
  margin-top: 0.625em;
  /* 10/16 */
  margin-bottom: 0.625em;
  /* 10/16 */
}

.margin-40-auto {
  margin: 2.5em auto;
  /* 40/16 */
}

.margin-b-0 {
  margin-bottom: 0;
}

.margin-b-10 {
  margin-bottom: 0.625em;
  /* 10/16 */
}

.margin-b-20 {
  margin-bottom: 1.25em;
  /* 20/16 */
}

.margin-b-40 {
  margin-bottom: 2.5em;
  /* 40/16 */
}

.margin-t-10 {
  margin-top: 0.625em;
  /* 10/16 */
}

.margin-t-30 {
  margin-top: 1.875em;
  /* 30/16 */
}

.margin-t-20 {
  margin-top: 1.25em;
  /* 20/16 */
}

.margin-t-20-auto {
  margin-top: 1.25em auto;
  /* 20/16 */
}

.padding-t-b-50 {
  padding-top: 3.125em;
  /* 50/16 */
  padding-bottom: 3.125em;
  /* 50/16 */
}

.padding-30 {
  padding: 1.875em;
  /* 30/16 */
}

.top-30 {
  top: 30px;
}

.top-40 {
  top: 40px;
}

.top-70 {
  top: 70px;
}

.top-80 {
  top: 80px;
}

.top-115 {
  top: 115px;
}

.top-130 {
  top: 130px;
}

.right-0 {
  right: 0;
}

.text-underline {
  text-decoration: underline;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: var(--color-negro);
}

.color-check {
  color: var(--color-verde-check);
}

.color-error {
  color: var(--color-rojo-error);
}

.border-none {
  border: none;
}

.text-roboto-r {
  font-family: var(--font-roboto-regular);
}

.text-roboto-m {
  font-family: var(--font-roboto-medium);
}

.text-roboto-b {
  font-family: var(--font-roboto-bold);
}

.text-roboto-l {
  font-family: var(--font-roboto-light);
}

.text-roboto-c-r {
  font-family: var(--font-roboto-condensed-regular);
}

.text-roboto-c-b {
  font-family: var(--font-roboto-condensed-bold);
}

.text-size-15 {
  font-size: 0.9375em;
  /* 15/16 */
}

.text-size-13-6 {
  font-size: 0.85em;
}

.text-size-30 {
  font-size: 3rem;
}

.text-size-25 {
  font-size: 2.5rem;
}

.text-size-13 {
  font-size: 0.8125em;
  /* 13/16 */
}

.text-size-16 {
  font-size: 16px;
}

.text-size-10 {
  font-size: 10rem;
}

/*
* Fin Generales
*
*/
/*
 * Inicio de index.html
 *
*/
.content-kosher-consultancy {
  /* Start header */
  /* End Header */
  /* Start main */
  /* Start section id="carouselHome" */
  /* End section id="carouselHome" */
  /* Start section id="whatIsKosher" */
  /* End section id="whatIsKosher" */
  /* Start section id="aboutUs" */
  /* End section id="aboutUs" */
  /* Start section id="services" */
  /* End section id="services" */
  /* Start section id="certificationSteps" */
  /* End section id="certificationSteps" */
  /* Start section id="contactForm" */
  /* End section id="contactForm" */
  /* Start section id="footer" */
  /* End section id="footer" */
  /* End main */
}
.content-kosher-consultancy nav .brand-logo {
  display: flex;
  align-items: center;
}
.content-kosher-consultancy nav .brand-logo .brand-logo-object {
  display: flex;
}
.content-kosher-consultancy nav .brand-logo .brand-logo-object object {
  width: 14em;
}
.content-kosher-consultancy nav .navigation-links {
  justify-content: end;
}
.content-kosher-consultancy nav .navigation-links .navbar-nav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
}
.content-kosher-consultancy nav .navigation-links .navbar-nav .nav-item a {
  font-family: var(--font-roboto-condensed-bold);
  color: var(--color-white);
  color: #FFF;
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.content-kosher-consultancy nav .navigation-links .navbar-nav .nav-item a:hover {
  color: var(--color-green);
  transition: all 0.5s;
}
.content-kosher-consultancy nav .navigation-links .navbar-nav .nav-item a:before, .content-kosher-consultancy nav .navigation-links .navbar-nav .nav-item a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 1px;
  content: "";
  background: #FFF;
  transition: all 0.3s;
}
.content-kosher-consultancy nav .navigation-links .navbar-nav .nav-item a:before {
  left: 0px;
  top: 0px;
}
.content-kosher-consultancy nav .navigation-links .navbar-nav .nav-item a:after {
  right: 0px;
  bottom: 0px;
}
.content-kosher-consultancy nav .navigation-links .navbar-nav .nav-item a:hover:before, .content-kosher-consultancy nav .navigation-links .navbar-nav .nav-item a:hover:after {
  opacity: 1;
  width: 100%;
}
.content-kosher-consultancy .section-content {
  padding-top: 100px;
  padding-bottom: 100px;
}
.content-kosher-consultancy #carouselHome .carousel-caption {
  background-color: #21252985;
  border-radius: 4px;
  bottom: 15rem;
}
.content-kosher-consultancy #carouselHome .carousel-caption h5 {
  font-family: var(--font-roboto-condensed-bold);
  font-size: 5rem;
}
.content-kosher-consultancy #carouselHome .carousel-caption p {
  font-family: var(--font-roboto-condensed-regular);
  font-size: 2.5rem;
}
.content-kosher-consultancy #carouselHome button .carousel-control-next-icon, .content-kosher-consultancy #carouselHome button .carousel-control-prev-icon {
  width: 10rem;
  height: 10rem;
}
.content-kosher-consultancy #whatIsKosher .title.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content-kosher-consultancy #whatIsKosher .title.container h1 {
  font-family: var(--font-roboto-bold);
  font-size: 50px;
  color: var(--color-green);
  text-align: center;
}
.content-kosher-consultancy #whatIsKosher .content-what-is-kosher {
  display: flex;
  align-items: center;
}
.content-kosher-consultancy #whatIsKosher .content-what-is-kosher .text p {
  font-family: var(--font-roboto-medium);
  font-size: 1.8rem;
}
.content-kosher-consultancy #aboutUs {
  background-image: url("../src/assets/images/background/sandwich-kosher.webp");
  padding-top: 100px;
  padding-bottom: 100px;
}
.content-kosher-consultancy #aboutUs .information-content {
  padding: 50px 20px;
  background-color: var(--color-white-ad);
  width: 60%;
  margin: 100px auto;
  border-radius: 10px;
  text-align: center;
}
.content-kosher-consultancy #aboutUs .information-content .title.container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.content-kosher-consultancy #aboutUs .information-content .title.container h2 {
  font-family: var(--font-roboto-bold);
  font-size: 50px;
  color: var(--color-green);
}
.content-kosher-consultancy #aboutUs .information-content .content-about-us .text p {
  font-family: var(--font-roboto-medium);
  font-size: 1.8rem;
}
.content-kosher-consultancy #aboutUs .information-content .content-about-us .text p strong {
  color: var(--color-green);
}
.content-kosher-consultancy #services {
  background-color: var(--color-light-green);
}
.content-kosher-consultancy #services .services-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.content-kosher-consultancy #services .services-title .icon object {
  width: 6em;
  margin-right: 10px;
}
.content-kosher-consultancy #services .services-title .title h3 {
  font-family: var(--font-roboto-bold);
  font-size: 50px;
  color: var(--color-green);
}
.content-kosher-consultancy #services .services-card {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  justify-items: center;
}
.content-kosher-consultancy #services .services-card .card {
  width: 18em;
  margin-bottom: 30px;
}
.content-kosher-consultancy #services .services-card .card .card-image {
  overflow: hidden;
}
.content-kosher-consultancy #services .services-card .card .card-image img.card-img-top {
  transition: all 0.5s;
}
.content-kosher-consultancy #services .services-card .card .card-image img.card-img-top:hover {
  transform: scale(1.3);
}
.content-kosher-consultancy #services .services-card .card .card-body {
  padding: 2rem 1rem;
}
.content-kosher-consultancy #services .services-card .card .card-body .card-text {
  font-family: var(--font-roboto-medium);
  font-size: 1.8rem;
  text-align: center;
}
.content-kosher-consultancy #services .services-card .card:hover {
  box-shadow: 5px 5px 10px 0px #00000020;
  transition: all 0.5s;
}
.content-kosher-consultancy #certificationSteps .title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.content-kosher-consultancy #certificationSteps .title h4 {
  font-family: var(--font-roboto-bold);
  font-size: 50px;
  color: var(--color-green);
}
.content-kosher-consultancy #certificationSteps .certification-steps-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.content-kosher-consultancy #certificationSteps .certification-steps-card .card {
  background-color: var(--color-light-green);
  border: 1px solid var(--color-green);
  width: 30rem;
  margin: 20px;
}
.content-kosher-consultancy #certificationSteps .certification-steps-card .card .card-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid green;
  border-radius: 100px;
  text-align: center;
  margin: 20px auto;
  line-height: 0;
}
.content-kosher-consultancy #certificationSteps .certification-steps-card .card .card-number p {
  font-family: var(--font-roboto-bold);
  font-size: 1.8rem;
  color: var(--color-green);
  margin: 0px;
}
.content-kosher-consultancy #certificationSteps .certification-steps-card .card .card-icon object {
  width: 10em;
}
.content-kosher-consultancy #certificationSteps .certification-steps-card .card .card-body h5 {
  font-family: var(--font-roboto-bold);
  font-size: 20px;
  color: var(--color-green);
}
.content-kosher-consultancy #certificationSteps .certification-steps-card .card .card-body p {
  font-family: var(--font-roboto-regular);
  font-size: 1.8rem;
}
.content-kosher-consultancy #certificationSteps .certification-steps-card .card:hover {
  box-shadow: 5px 5px 10px 0px #00000020;
  transition: all 0.5s;
}
.content-kosher-consultancy #certificationSteps .legal {
  background-color: var(--color-green);
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.content-kosher-consultancy #certificationSteps .legal h6 {
  font-family: var(--font-roboto-bold);
  font-size: 16px;
  color: var(--color-white);
}
.content-kosher-consultancy #certificationSteps .legal p {
  font-size: 13px;
  color: var(--color-white);
  margin-bottom: 10px;
}
.content-kosher-consultancy #contactForm {
  background-image: url("../src/assets/images/background/woman-filling-out-form.webp");
  padding-top: 100px;
  padding-bottom: 100px;
}
.content-kosher-consultancy #contactForm .title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.content-kosher-consultancy #contactForm .title h2 {
  font-family: var(--font-roboto-bold);
  font-size: 50px;
  color: var(--color-green);
}
.content-kosher-consultancy #contactForm form {
  width: 80%;
  margin: auto;
}
.content-kosher-consultancy #contactForm form input {
  font-family: var(--font-roboto-light-italic);
  font-size: 1.5rem;
}
.content-kosher-consultancy #contactForm form .form-control {
  padding: 1rem 0.75rem;
}
.content-kosher-consultancy #contactForm form textarea {
  font-family: var(--font-roboto-light-italic);
  font-size: 1.5rem;
  min-height: calc(1.5em + 18rem + 2px);
}
.content-kosher-consultancy #contactForm form button.btn-submit {
  font-family: var(--font-roboto-bold);
  font-size: 20px;
  text-transform: uppercase;
  background-color: var(--color-green);
  border: none;
  padding: 15px 150px;
  color: var(--color-white);
  border-radius: 4px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.content-kosher-consultancy #contactForm form button.btn-submit:hover {
  background-color: var(--color-white);
  outline: 1px solid var(--color-green);
  color: var(--color-green);
  transition: all 0.5s;
}
.content-kosher-consultancy #contactForm .contact-information {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 50px;
  background-color: var(--color-light-green);
  padding: 10px;
  border-radius: 4px;
}
.content-kosher-consultancy #contactForm .contact-information a {
  text-decoration: none;
  color: var(--color-black);
}
.content-kosher-consultancy #contactForm .contact-information a:hover {
  color: var(--color-green);
  transition: all 0.5s;
}
.content-kosher-consultancy #contactForm .contact-information p {
  margin-bottom: 0rem;
}
.content-kosher-consultancy #contactForm .contact-information .line {
  border-right: 1.5px solid var(--color-green);
  height: 50px;
}
.content-kosher-consultancy #contactForm .contact-information .information-kosher {
  text-align: right;
}
.content-kosher-consultancy #contactForm .contact-information .information-kosher p strong {
  color: var(--color-green);
}
.content-kosher-consultancy #footer .footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content-kosher-consultancy #footer .footer-content .footer-logo object {
  width: 20em;
}
.content-kosher-consultancy #footer .footer-content .footer-social-networks p {
  font-family: var(--font-roboto-bold);
  font-size: 25px;
  color: var(--color-green);
}
.content-kosher-consultancy #footer .footer-content .footer-social-networks .social-netwoks i.fab {
  font-size: 35px;
  padding-right: 20px;
  color: var(--color-green);
}
.content-kosher-consultancy #footer .footer-content .footer-social-networks .social-netwoks i.fab:hover {
  color: var(--color-dark-blue);
  transition: all 0.5s;
}
.content-kosher-consultancy #footer .footer-copy {
  background-color: var(--color-green);
}
.content-kosher-consultancy #footer .footer-copy p {
  color: var(--color-white);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 0rem;
}

/*
 * Fin de index.html
 *
*/
/*
 * #######################
 * #######################
 * #######################
 * Inicio de Media Queries
 * #######################
 * #######################
 * #######################
*/
/* Mobile Styles */
@media only screen and (min-width: 360px) and (max-width: 992px) {
  /*
   * Inicio de index.html
   *
  */
  .content-kosher-consultancy {
    /* Start header */
    /* End header */
    /* Start main */
    /* Start section id="carouselHome" */
    /* End section id="carouselHome" */
    /* Start section id="whatIsKosher" */
    /* End section id="whatIsKosher" */
    /* Start section id="aboutUs" */
    /* End section id="aboutUs" */
    /* Start section id="services" */
    /* End section id="services" */
    /* Start section id="contactForm" */
    /* End section id="contactForm" */
    /* End main */
    /* Start section id="footer" */
    /* End section id="footer" */
  }
  .content-kosher-consultancy nav .brand-logo object {
    width: 10em;
  }
  .content-kosher-consultancy nav .navigation-links {
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .content-kosher-consultancy #carouselHome {
    margin-top: 70px;
  }
  .content-kosher-consultancy #carouselHome .carousel-caption {
    bottom: 3rem;
  }
  .content-kosher-consultancy #carouselHome .carousel-caption h5 {
    font-size: 1.5rem;
  }
  .content-kosher-consultancy #carouselHome .carousel-caption p {
    font-size: 1rem;
  }
  .content-kosher-consultancy #whatIsKosher .content-what-is-kosher .title.container {
    text-align: center;
  }
  .content-kosher-consultancy #whatIsKosher .content-what-is-kosher .title.container .row h1 {
    text-align: center;
  }
  .content-kosher-consultancy #whatIsKosher .content-what-is-kosher .text p {
    margin-top: 50px;
    text-align: center;
  }
  .content-kosher-consultancy #aboutUs {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .content-kosher-consultancy #aboutUs .information-content {
    width: 100%;
    border-radius: 0px;
  }
  .content-kosher-consultancy #aboutUs .information-content .title.container h2 {
    font-family: var(--font-roboto-bold);
    font-size: 50px;
    color: var(--color-green);
  }
  .content-kosher-consultancy #aboutUs .information-content .content-about-us .text p {
    font-family: var(--font-roboto-medium);
    font-size: 1.8rem;
  }
  .content-kosher-consultancy #services .services-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-kosher-consultancy #services .services-title .icon object {
    margin-right: 0px;
  }
  .content-kosher-consultancy #services .services-title .title h3 {
    text-align: center;
  }
  .content-kosher-consultancy #services .services-card {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  /*
   * Fin de index.html
   *
  */
}
@media only screen and (min-width: 360px) and (max-width: 992px) and (max-width: 576px) {
  .content-kosher-consultancy #services .services-card .card {
    width: 10em;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 992px) {
  .content-kosher-consultancy #contactForm .contact-information {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .content-kosher-consultancy #contactForm .contact-information .line {
    border-right: none;
    height: 0px;
    border-bottom: 1.5px solid var(--color-green);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .content-kosher-consultancy #contactForm .contact-information .information-kosher {
    text-align: center;
  }
  .content-kosher-consultancy #contactForm .contact-information .information-kosher p strong {
    color: var(--color-green);
  }
}
@media only screen and (min-width: 360px) and (max-width: 992px) {
  .content-kosher-consultancy #footer .footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .content-kosher-consultancy #footer .footer-content .footer-logo object {
    width: 20em;
  }
  .content-kosher-consultancy #footer .footer-content .footer-social-networks p {
    font-family: var(--font-roboto-bold);
    font-size: 25px;
    color: var(--color-green);
  }
  .content-kosher-consultancy #footer .footer-content .footer-social-networks .social-netwoks i.fab {
    font-size: 35px;
    padding-right: 20px;
    color: var(--color-green);
  }
}
/* Tablet Styles */
/* Desktop Styles */
/*
 * #######################
 * #######################
 * #######################
 *   Fin de Media Queries
 * #######################
 * #######################
 * #######################
*/

/*# sourceMappingURL=style.css.map */
