/*
 * #######################
 * #######################
 * #######################
 * Inicio de Media Queries
 * #######################
 * #######################
 * #######################
*/

/* Mobile Styles */

@media only screen and (min-width: 360px) and (max-width: 992px) {

    /*
     * Inicio de index.html
     *
    */

    .content-kosher-consultancy {
        /* Start header */
        nav {
            .brand-logo{
                object {
                    width: 10em;
                }
            } 

            .navigation-links {
                justify-content: center;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
        /* End header */

        /* Start main */
        /* Start section id="carouselHome" */
        #carouselHome {
            margin-top: 70px;
            .carousel-caption {
                bottom: 3rem;

                h5 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
        /* End section id="carouselHome" */

        /* Start section id="whatIsKosher" */
        #whatIsKosher {
            .content-what-is-kosher {
                .title.container {
                    text-align: center;

                    .row {
                        h1 {
                            text-align: center;
                        }
                    }
                }

                .text {
                    p {
                        margin-top: 50px;
                        text-align: center;
                    }
                }
            }
        }
    /* End section id="whatIsKosher" */

    /* Start section id="aboutUs" */
    #aboutUs {
        padding-top: 0px;
        padding-bottom: 0px;

        .information-content {
            width: 100%;
            margin: 0px auto;
            border-radius: 0px;

            .title.container {

                h2 {
                    font-family: var(--font-roboto-bold);
                    font-size: 50px;
                    color: var(--color-green);
                }
            }

            .content-about-us {

                .text {
                    p {
                        font-family: var(--font-roboto-medium);
                        font-size: 1.8rem;
                    }
                }
            }  
        }
        
    }
    /* End section id="aboutUs" */

    /* Start section id="services" */

    #services {
        .services-title {
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon {
                object {
                    margin-right: 0px;
                }
            }

            .title {
                h3 {
                    text-align: center;
                }
            }
        }

        .services-card {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(2, 1fr);

            @include media-breakpoint-down(sm) {
                .card {
                    width: 10em;
                    margin-bottom: 30px;
                }
            }
        }

    }

    /* End section id="services" */

    /* Start section id="contactForm" */
    #contactForm {
        form {
            width: 100%;
            
            button.btn-submit {
                width: 10em;
            }        
        }

        .contact-information {
            display: flex;
            flex-direction: column;
            text-align: center;

            .line {
                border-right: none;
                height: 0px;
                border-bottom: 1.5px solid var(--color-green);
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .information-kosher {
                text-align: center;

                p {
                    strong {
                        color: var(--color-green);
                    }
                }
            }
        }

    }
    /* End section id="contactForm" */

        /* End main */

    /* Start section id="footer" */
    #footer {
        .footer-content {
            display: flex;
            flex-direction: column;
            text-align: center;

            .footer-logo {
                object {    
                    width: 20em;
                }
            }

            .footer-social-networks {
                p {
                    font-family: var(--font-roboto-bold);
                    font-size: 25px;
                    color: var(--color-green);
                }

                .social-netwoks {
                    i.fab {
                        font-size: 35px;
                        padding-right: 20px;
                        color: var(--color-green);
                    }
                }
            }
        }
    }
    /* End section id="footer" */

    }


    /*
     * Fin de index.html
     *
    */

}

/* Tablet Styles */
@media only screen and (min-width: 361px) and (max-width: 1060px) {

    
}

/* Desktop Styles */
@media only screen and (min-width: 1061px) {


}

/*
 * #######################
 * #######################
 * #######################
 *   Fin de Media Queries
 * #######################
 * #######################
 * #######################
*/