/*
 * #######################
 * #######################
 * #######################
 * Inicio de Media Queries
 * #######################
 * #######################
 * #######################
*/

/* Mobile Styles */
@media only screen and (max-width: 360px) {

    /*
     * Inicio de index.html
     *
    */

    .content-kosher-consultancy {
        nav {
            .brand-logo{
                object {
                    width: 10em;
                }
            } 

            .navigation-links {
                justify-content: center;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }


    /*
     * Fin de index.html
     *
    */

}

/* Tablet Styles */
@media only screen and (min-width: 361px) and (max-width: 1060px) {

    
}

/* Desktop Styles */
@media only screen and (min-width: 1061px) {


}

/*
 * #######################
 * #######################
 * #######################
 *   Fin de Media Queries
 * #######################
 * #######################
 * #######################
*/