/*
 * #######################
 * #######################
 * #######################
 * Inicio de Media Queries
 * #######################
 * #######################
 * #######################
*/

/* Mobile Styles and Tablet */

@media only screen and (min-width: 360px) and (max-width: 992px) {

    /*
     * Inicio de index.html
     *
    */

    .content-kosher-consultancy {
        /* Start header */
        nav {
            .brand-logo{
                .brand-logo-object {
                    object {
                        width: 10em;
                    }
                }
            }

            .brand-logo-slogan {
                p {
                    font-size: 12px;
                    line-height: 1.2;
                }
            } 

            .navigation-links {
                justify-content: center;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
        /* End header */

        /* Start main */
        /* Start section id="carouselHome" */

        .section-content {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        #carouselHome {
            margin-top: 70px;
            .carousel-caption {
                bottom: 3rem;

                h5 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
        /* End section id="carouselHome" */

        /* Start section id="whatIsKosher" */
        #whatIsKosher {
            .title.container {
                text-align: center;

                .row {
                    h1 {
                        font-size: 35px;
                        text-align: center;
                    }
                }
            }

            .content-what-is-kosher {
                .text {
                    p {
                        font-size: 1.5rem;
                        margin-top: 50px;
                        text-align: center;
                    }
                }
            }
        }
    /* End section id="whatIsKosher" */

    /* Start section id="aboutUs" */

    #aboutUs {
        padding-top: 0px;
        padding-bottom: 0px;

        .background {
            padding-bottom: 50px;
            padding-top: 50px;
            
            .information-content {
                width: 100%;
                margin: 0px auto;
                border-radius: 0px;

                .title.container {

                    h2 {
                        font-family: var(--font-roboto-bold);
                        font-size: 35px;
                        color: var(--color-white);
                    }
                }

                .content-about-us {

                    .text {
                        p {
                            font-family: var(--font-roboto-medium);
                            font-size: 1.8rem;
                        }
                    }
                }  
            }
        }
        
    }
    /* End section id="aboutUs" */

    /* Start section id="services" */

    #services {
        .services-title {
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon {
                object {
                    margin-right: 0px;
                }
            }

            .title {
                h3 {
                    font-size: 35px;
                    text-align: center;
                }
            }
        }

        .services-card {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }

    }

    /* End section id="services" */

    /* Start section id="certificationSteps" */
    #certificationSteps {
        .title {
            h4 {
                font-size: 35px;
            }
        }

        .legal {
            margin-right: 20px;
            margin-left: 20px;

            .container {
                padding: 20px 20px;
            }            
        }
    }
    /* End section id="certificationSteps" */

    /* Start section id="contactForm" */
    #contactForm {
        padding-top: 50px;
        padding-bottom: 50px;

        .title {
            h2 {
                font-size: 35px;
            }
        }

        form {
            width: 100%;

            button.btn-submit {
                width: 10em;
            }        
        }

        .contact-information {
            display: flex;
            flex-direction: column;
            text-align: center;

            .line {
                border-right: none;
                height: 0px;
                border-bottom: 1.5px solid var(--color-green);
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .information-kosher {
                text-align: center;

                p {
                    strong {
                        color: var(--color-green);
                    }
                }
            }
        }

    }
    /* End section id="contactForm" */

        /* End main */

    /* Start section id="footer" */
    #footer {
        .footer-content {
            display: flex;
            flex-direction: column;
            text-align: center;

            .footer-logo {
                object {    
                    width: 20em;
                }
            }

            .footer-social-networks {
                p {
                    font-family: var(--font-roboto-bold);
                    font-size: 25px;
                    color: var(--color-green);
                }

                .social-netwoks {
                    i.fab {
                        font-size: 35px;
                        padding-right: 20px;
                        color: var(--color-green);
                    }
                }
            }
        }

        .footer-copy {
            p {
                font-size: 13px;
            }
        }
    }
    /* End section id="footer" */

    }


    /*
     * Fin de index.html
     *
    */

}


/* Desktop Styles */
@media only screen and (min-width: 993px) and (max-width: 1200px) {

    /* Start section id="services" */

    #services {
        .services-card {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(4, 1fr);

            .card {
                width: 14em !important;
                margin-bottom: 30px;
            }
        }
    }

    /* End section id="services" */

}

/*
 * #######################
 * #######################
 * #######################
 *   Fin de Media Queries
 * #######################
 * #######################
 * #######################
*/