/*
 * Inicio de index.html
 *
*/

.content-kosher-consultancy {
    /* Start header */
    nav {
        .brand-logo{
            display: flex;
            align-items: center;

            .brand-logo-object {
                display: flex;

                object {
                    width: 14em;
                }
            }
        } 

        .navigation-links {
            justify-content: end;

            .navbar-nav {
                .nav-item {
                    margin-left: 20px;
                    margin-right: 20px;

                    a {
                        font-family: var(--font-roboto-condensed-bold);
                        color: var(--color-white);
                        color: #FFF;
                        text-decoration: none;
                        margin: 0px 10px;
                        padding: 10px 10px;
                        position: relative;
                        z-index: 0;
                        cursor: pointer;

                        &:hover {
                            color: var(--color-green);
                            transition: all 0.5s;
                        } 

                        &:before, &:after {
                            position: absolute;
                            opacity: 0;
                            width: 0%;
                            height: 1px;
                            content: '';
                            background: #FFF;
                            transition: all 0.3s;
                        }

                        &:before {
                            left: 0px;
                            top: 0px;
                        }

                        &:after {
                            right: 0px;
                            bottom: 0px;
                        }

                        &:hover:before, &:hover:after {
                            opacity: 1;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    /* End Header */

    /* Start main */

    /* Start section id="carouselHome" */

    .section-content {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #carouselHome {
        .carousel-caption {
            background-color: #21252985;
            border-radius: 4px;
            bottom: 15rem;

            h5 {
                font-family: var(--font-roboto-condensed-bold);
                font-size: 5rem;
            }

            p {
                font-family: var(--font-roboto-condensed-regular);
                font-size: 2.5rem;
            }
        }

        button {
            .carousel-control-next-icon, .carousel-control-prev-icon {
                width: 10rem;
                height: 10rem;
            }   
        }
    }

    /* End section id="carouselHome" */

    /* Start section id="whatIsKosher" */
    #whatIsKosher {
        .title.container {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 30px;

            h1 {
                font-family: var(--font-roboto-bold);
                font-size: 50px;
                color: var(--color-green);
                text-align: center;
            }
        }

        .content-what-is-kosher {
            display: flex;
            align-items:center;

            .text {
                p {
                    font-family: var(--font-roboto-medium);
                    font-size: 1.8rem;
                }
            }
        }
    }
    /* End section id="whatIsKosher" */

    /* Start section id="aboutUs" */
    #aboutUs {
        background-image: url('../src/assets/images/background/sandwich-kosher.webp');
        padding-top: 100px;
        padding-bottom: 100px;
        @extend %bg-image;

        .information-content {
            padding: 50px 20px;
            background-color: var(--color-white-ad);
            width: 60%;
            margin: 100px auto;
            border-radius: 10px;
            text-align: center;

            .title.container {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;

                h2 {
                    font-family: var(--font-roboto-bold);
                    font-size: 50px;
                    color: var(--color-green);
                }
            }

            .content-about-us {
                .text {
                    p {
                        font-family: var(--font-roboto-medium);
                        font-size: 1.8rem;

                        strong {
                            color: var(--color-green);
                        }
                    }
                }
            }  
        }
        
    }
    /* End section id="aboutUs" */

    /* Start section id="services" */

    #services {
        background-color: var(--color-light-green);

        .services-title {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
            padding-bottom: 50px;

            .icon {
                object {
                    width: 6em;
                    margin-right: 10px;
                }
            }
            .title {
                h3 {
                    font-family: var(--font-roboto-bold);
                    font-size: 50px;
                    color: var(--color-green);
                }
            }
        }

        .services-card {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(4, 1fr);
            margin: auto;
            justify-items: center;

            .card {
                width: 18em;
                margin-bottom: 30px;

                .card-image {
                    overflow: hidden;

                    img.card-img-top {
                        transition: all 0.5s;

                        &:hover {
                            transform: scale(1.3);
                        }
                    }
                }
                .card-body {
                    padding: 2rem 1rem;

                    .card-text {
                        font-family: var(--font-roboto-medium);
                        font-size: 1.8rem;
                        text-align: center;
                    }
                }

                &:hover {
                    box-shadow: 5px 5px 10px 0px #00000020;
                    transition: all 0.5s;

                }
            }
        }

    }

    /* End section id="services" */

    /* Start section id="certificationSteps" */
    #certificationSteps {
        .title {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;

            h4 {
                font-family: var(--font-roboto-bold);
                font-size: 50px;
                color: var(--color-green); 
            }
        }

        .certification-steps-card {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;

            .card {
                background-color: var(--color-light-green);
                border: 1px solid var(--color-green);
                width: 30rem;
                margin: 20px;

                .card-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border: 2px solid green;
                    border-radius: 100px;
                    text-align: center;
                    margin: 20px auto;
                    line-height: 0;

                    p {
                        font-family: var(--font-roboto-bold);
                        font-size: 1.8rem;
                        color: var(--color-green);
                        margin: 0px;
                    }
                }

                .card-icon {
                    object {
                        width: 10em;
                    }
                }

                .card-body {
                    h5 {
                        font-family: var(--font-roboto-bold);
                        font-size: 20px;
                        color: var(--color-green);
                    }

                    p {
                        font-family: var(--font-roboto-regular);
                        font-size: 1.8rem;
                    }
                }

                &:hover {
                    box-shadow: 5px 5px 10px 0px #00000020;
                    transition: all 0.5s;

                }
            }
        }

        .legal {
            background-color: var(--color-green);
            text-align: center;
            margin-top: 50px;
            padding-top: 50px;
            padding-bottom: 50px;

                h6 {
                    font-family: var(--font-roboto-bold);
                    font-size: 16px;
                    color: var(--color-white); 
                }

                p {
                    font-size: 13px;
                    color: var(--color-white);
                    margin-bottom: 10px;
                }
        }
    }
    /* End section id="certificationSteps" */

    /* Start section id="contactForm" */
    #contactForm {
        background-image: url('../src/assets/images/background/woman-filling-out-form.webp');
        padding-top: 100px;
        padding-bottom: 100px;
        @extend %bg-image;
        
        .title {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;

            h2 {
                font-family: var(--font-roboto-bold);
                font-size: 50px;
                color: var(--color-green);  
            }
        }

        form {
            input {
                font-family: var(--font-roboto-light-italic);
                font-size: 1.8rem;
            }

            textarea {
                font-family: var(--font-roboto-light-italic);
                font-size: 1.8rem;
            }
        }

    }
    /* End section id="contactForm" */

    /* End main */

}


/*
 * Fin de index.html
 *
*/